<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        {% block stylesheets %}

        {% stylesheets "@Style_Vendors" %}
        <link rel="stylesheet" href="{{ asset_url }}" />
        {% endstylesheets %}

        {% stylesheets "@Style_Main" %}
        <link rel="stylesheet" href="{{ asset_url }}" />
        {% endstylesheets %}
        
        {% endblock stylesheets %}
    </head>
    <body>
        {% block header %}
       <nav class="navbar navbar-expand-md main-navbar">
                <a class="navbar-brand" href="#">Navbar</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarsExampleDefault">
                    <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('actu_article_homepage') }}">Articles</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('actu_article_add') }}">Ajouter un article</a>
                    </li>
                    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('fos_user_profile_show') }}">{{ app.user.username }}</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('fos_user_security_logout') }}">Log out</a>
                    </li>
                    {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('fos_user_registration_register') }}">Register</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('fos_user_security_login') }}">Login</a>
                    </li>
                    {% endif %}

                  
                    </ul>
                    <form class="form-inline my-2 my-lg-0">
                    <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                    </form>
                </div>
        </nav>
        {% endblock %}
        
        {% block content %}
        
        {% endblock %}

        {% block footer %}
          <footer class="container">
             <p>&copy; Company 2017-2018</p>
          </footer>
        {% endblock %}

        {% block javascripts %}
            {% javascripts '@Script_Vendors' %}
                <script src="{{ asset_url }}"></script>
            {% endjavascripts %}
        {% endblock %}

    </body>
</html>
